<div class='panel panel-default'>

	<div class='panel-heading'>
		<h2>Sign up</h2>
	</div>

	<div class='panel-body'>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <%= f.hidden_field :stripe_card_token %>

		  <div id='stripe_error' class="alert alert-info" style='display:none'>
		  </div>

		  <div class='form-group'>
		  	<%= f.label :name %>
		  	<%= f.text_field :name, :autofocus => true, class: 'form-control' %>
		  </div>

		  <div class='form-group'>
		  	<%= f.label :email %>
		  	<%= f.email_field :email, :autofocus => true, class: 'form-control' %>
		  </div>

		  <div class='form-group'>
		  	<%= f.label :password %>
		  	<%= f.password_field :password, class: 'form-control' %>
		  </div>	  

		  <% if @user.stripe_card_token.present? %>
		  	Credit Card is on File
		  <% else %>
			  <div class='form-group'>
			  	<%= label_tag :card_number, "Credit Card Number" %>
			  	<%= text_field_tag :card_number, nil, name: nil, class: 'form-control' %>
			  </div>

			  <div class='form-group'>
			  	<%= label_tag :card_code, "Security Code on Card (CVV)" %>
				<%= text_field_tag :card_code, nil, name: nil %>
				<%= label_tag :card_month, "Card Expiration" %>
				<%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
				<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
			  </div>
			  
		  <% end %>

		  <div>
		  	<%= f.submit "Sign up", class: 'btn btn-primary' %>
		  </div>

		<% end %>
	</div>
	<div class='panel-footer'>
		<%= render "devise/shared/links" %>
	</div>
</div>

