<%= form_for @store, html: { multipart: true } do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">  
    <%= f.label :state %>
    <%= select_tag :state, options_for_select(us_states), class: 'form-control' %> 
  </div>

  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, class: 'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :area %>
    <%= select_tag :area, options_for_select(neighborhoods), class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>